/* Will be compiled down to a single stylesheet with your sass files */

html {
    /* Defaults css for cssmin process */
}

.avatar-container {
	
}

.title .github-avatar {
	position: absolute;
	left: 0;
	top: 6px;
	border-radius: 50px;
	width: 32px;
	height: 32px;
	border: 2px solid rgba(0, 0, 0, 0.1);
}

/* overriding github */
.news .alert.avatar-ready .simple > .octicon {
	left: 27px !important;
	z-index: 100;
	top: 27px;
	text-shadow: -2px -2px 0px #FFF, -1px -1px 0px #FFF;
}